html
    title pruebas de usuarios en jade
body
    table 
        thead
            tr
                th Nombre
                th Apellido
        tbody
            each usuario in usuarios
                tr
                    td=usuario.nombre
                    td=usuario.apellido